# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo

UE4/Projects/Main/TimeAttack/Content/StarterContent/
UE4/Projects/Main/TimeAttack/Intermediate/
UE4/Projects/Main/TimeAttack/Saved/
